# Imports

In [6]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext
from pyspark.sql.functions import rand, when, expr
from pyspark.sql.types import StringType

# 3.1

In [7]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes.show(5)

spark.stop()

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

# 3.2

In [8]:

spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")  

df_nomes.show(10)

df_nomes.printSchema()

spark.stop()

+-----------------+
|             nome|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

root
 |-- nome: string (nullable = true)

# 3.3

In [9]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")  

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental").when(rand() < 0.66, "Medio").otherwise("Superior"))

df_nomes.show(10)

spark.stop()

+-----------------+------------+
|             nome|Escolaridade|
+-----------------+------------+
|   Frances Bennet|       Medio|
|    Jamie Russell|       Medio|
|   Edward Kistler|       Medio|
|    Sheila Maurer|    Superior|
| Donald Golightly| Fundamental|
|       David Gray|       Medio|
|      Joy Bennett| Fundamental|
|      Paul Kriese| Fundamental|
|Berniece Ornellas| Fundamental|
|    Brian Farrell|       Medio|
+-----------------+------------+
only showing top 10 rows

root
 |-- nome: string (nullable = true)
 |-- Escolaridade: string (nullable = false)

# 3.4

In [10]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")  

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental").when(rand() < 0.66, "Medio").otherwise("Superior"))

df_nomes = df_nomes.withColumn("Pais", when(rand() < 0.077 , "Brasil").when(rand() < 0.154, "Argentina").when(rand() < 0.231, "Chile").when(rand() < 0.308, "Uruguai").when(rand() < 0.385, "Paraguai").when(rand() < 0.462, "Peru").when(rand() < 0.539, "Colombia").when(rand() < 0.616, "Venezuela").when(rand() < 0.693, "Equador").when(rand() < 0.770, "Bolivia").when(rand() < 0.847, "Guiana").when(rand() < 0.924, "Suriname").otherwise("FranÃ§a"))

df_nomes.show(30)

spark.stop()

+-----------------+---------+
|             nome|     Pais|
+-----------------+---------+
|   Frances Bennet|  Uruguai|
|    Jamie Russell|     Peru|
|   Edward Kistler|    Chile|
|    Sheila Maurer| Colombia|
| Donald Golightly|    Chile|
|       David Gray|    Chile|
|      Joy Bennett|    Chile|
|      Paul Kriese| Paraguai|
|Berniece Ornellas|     Peru|
|    Brian Farrell|   Brasil|
|   Kara Mcelwaine|  Uruguai|
|    Tracy Herring|    Chile|
|  Howard Lazarine|Argentina|
|     Leroy Strahl|   Brasil|
|     Ernest Hulet| Paraguai|
|     David Medina|    Chile|
|   Lorenzo Woodis| Paraguai|
|      Page Marthe| Paraguai|
|   Herbert Morris|    Chile|
|      Albert Leef|    Chile|
|     Charles Hill|   Brasil|
|  Helen Blackwell|  Uruguai|
|          Lois Ly| Paraguai|
|     Rebecca Snow|   Brasil|
|      Frank Wiley|     Peru|
| Wallace Mitchell|     Peru|
|   Amanda Gravitt| Paraguai|
|   Gabriel Colyer|   Brasil|
|         Mary Lee|    Chile|
|       Daryl Page| Colombia|
+-----------------+---------+
only showing top 30 rows

root
 |-- nome: string (nullable = true)
 |-- Pais: string (nullable = false)

# 3.5

In [11]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_nomes.show(10)


spark.stop()

+-----------------+------------+--------------+
|             nome|Escolaridade|ano_nascimento|
+-----------------+------------+--------------+
|   Frances Bennet|    Superior|          1965|
|    Jamie Russell|       Medio|          1969|
|   Edward Kistler|       Medio|          1973|
|    Sheila Maurer|    Superior|          1955|
| Donald Golightly|       Medio|          1961|
|       David Gray| Fundamental|          1981|
|      Joy Bennett|    Superior|          1992|
|      Paul Kriese|       Medio|          1972|
|Berniece Ornellas|    Superior|          2005|
|    Brian Farrell| Fundamental|          1974|
+-----------------+------------+--------------+
only showing top 10 rows

root
 |-- nome: string (nullable = true)
 |-- Escolaridade: string (nullable = false)
 |-- ano_nascimento: integer (nullable = true)

# 3.6

In [19]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_select = df_nomes.filter(df_nomes.ano_nascimento >= 2000)

df_select.show(10)

spark.stop()

+-----------------+------------+--------------+
|             nome|Escolaridade|ano_nascimento|
+-----------------+------------+--------------+
| Donald Golightly| Fundamental|          2008|
|Berniece Ornellas|       Medio|          2009|
|   Lorenzo Woodis| Fundamental|          2005|
|   Herbert Morris| Fundamental|          2009|
|   Katrina Graham|    Superior|          2001|
|      Lisa Baxley|    Superior|          2000|
|    Milton Dillon| Fundamental|          2004|
|    George Miller|    Superior|          2000|
|        Ana Baker| Fundamental|          2001|
|     Jerry Remick|    Superior|          2008|
+-----------------+------------+--------------+
only showing top 10 rows

# 3.7

In [20]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_select = df_nomes.createOrReplaceTempView("pessoas")

spark.sql("SELECT * FROM pessoas WHERE ano_nascimento >= 2000").show(10)

spark.stop()

+----------------+------------+--------------+
|            nome|Escolaridade|ano_nascimento|
+----------------+------------+--------------+
|        Mary Lee| Fundamental|          2007|
|    Roxie Bernal| Fundamental|          2005|
|   Milton Dillon|    Superior|          2007|
|    Juliet Liles| Fundamental|          2000|
|  Bernard Holmes| Fundamental|          2007|
|    Jose Gaskins| Fundamental|          2002|
|     Leola Hicks|    Superior|          2000|
| Christine Frank|    Superior|          2001|
|     Monica Earl|       Medio|          2000|
|Gloria Archibald| Fundamental|          2004|
+----------------+------------+--------------+
only showing top 10 rows

# 3.8

In [23]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_select = df_nomes.filter(df_nomes['ano_nascimento'].between(1980, 1994))

df_select.show(10)

spark.stop()

+----------------+------------+--------------+
|            nome|Escolaridade|ano_nascimento|
+----------------+------------+--------------+
|   Sheila Maurer|    Superior|          1989|
|Donald Golightly|       Medio|          1992|
|   Brian Farrell| Fundamental|          1981|
|   Tracy Herring| Fundamental|          1984|
|     Albert Leef|    Superior|          1986|
| Helen Blackwell| Fundamental|          1990|
|      Daryl Page|       Medio|          1983|
|    Roxie Bernal|       Medio|          1992|
| Kenneth Rayburn| Fundamental|          1982|
|      Anita Ross| Fundamental|          1981|
+----------------+------------+--------------+
only showing top 10 rows

# 3.9

In [24]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_select = df_nomes.createOrReplaceTempView("pessoas")

spark.sql("SELECT * FROM pessoas WHERE ano_nascimento BETWEEN 1980 and 1994").show(10)

spark.stop()

+---------------+------------+--------------+
|           nome|Escolaridade|ano_nascimento|
+---------------+------------+--------------+
|  Jamie Russell|       Medio|          1990|
|    Paul Kriese| Fundamental|          1993|
|  Tracy Herring|       Medio|          1987|
|   Leroy Strahl| Fundamental|          1994|
| Lorenzo Woodis|    Superior|          1987|
|   Charles Hill|       Medio|          1984|
|        Lois Ly|       Medio|          1981|
| Amanda Gravitt|       Medio|          1984|
|Kenneth Rayburn|    Superior|          1984|
|    Sandra Todd| Fundamental|          1990|
+---------------+------------+--------------+
only showing top 10 rows

# 3.10

In [62]:
spark = SparkSession.builder.master("local[*]").appName("Ex3").getOrCreate()

df_nomes = spark.read.csv("../ex1-python/nomes_aleatorios.txt")

df_nomes = df_nomes.withColumnRenamed("_c0", "nome")

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 0.33, "Fundamental")
                                             .when(rand() < 0.66, "Medio")
                                             .otherwise("Superior"))

df_nomes = df_nomes.withColumn("ano_nascimento", (rand() * (2010 - 1945) + 1945).cast("int"))

df_nomes = df_nomes.withColumn("pais", when(rand() < 0.077 , "Brasil").when(rand() < 0.154, "Argentina").when(rand() < 0.231, "Chile").when(rand() < 0.308, "Uruguai").when(rand() < 0.385, "Paraguai").when(rand() < 0.462, "Peru").when(rand() < 0.539, "Colombia").when(rand() < 0.616, "Venezuela").when(rand() < 0.693, "Equador").when(rand() < 0.770, "Bolivia").when(rand() < 0.847, "Guiana").when(rand() < 0.924, "Suriname").otherwise("FranÃ§a"))

df_nomes = df_nomes.withColumn("geracao", when(df_nomes.ano_nascimento.between(1944, 1964), "Baby Boomers").when(df_nomes.ano_nascimento.between(1965, 1979), "GeraÃ§Ã£o X").when(df_nomes.ano_nascimento.between(1980, 1994), "Millennials").when(df_nomes.ano_nascimento.between(1995,2015),"GeraÃ§Ã£o Z"))

df_select = df_nomes.createOrReplaceTempView("pessoas")

spark.sql("SELECT pais, geracao, count(geracao) as quantidade FROM pessoas GROUP BY geracao,pais ORDER BY pais,geracao,quantidade").show(100)

spark.stop()

+---------+------------+----------+
|     pais|     geracao|quantidade|
+---------+------------+----------+
|Argentina|Baby Boomers|    438812|
|Argentina|   GeraÃ§Ã£o X|    328625|
|Argentina|   GeraÃ§Ã£o Z|    328016|
|Argentina| Millennials|    327356|
|  Bolivia|Baby Boomers|     17568|
|  Bolivia|   GeraÃ§Ã£o X|     13437|
|  Bolivia|   GeraÃ§Ã£o Z|     13179|
|  Bolivia| Millennials|     13226|
|   Brasil|Baby Boomers|    236257|
|   Brasil|   GeraÃ§Ã£o X|    177963|
|   Brasil|   GeraÃ§Ã£o Z|    178249|
|   Brasil| Millennials|    178300|
|    Chile|Baby Boomers|    554023|
|    Chile|   GeraÃ§Ã£o X|    415907|
|    Chile|   GeraÃ§Ã£o Z|    416175|
|    Chile| Millennials|    417206|
| Colombia|Baby Boomers|    228468|
| Colombia|   GeraÃ§Ã£o X|    171435|
| Colombia|   GeraÃ§Ã£o Z|    170760|
| Colombia| Millennials|    170598|
|  Equador|Baby Boomers|     51877|
|  Equador|   GeraÃ§Ã£o X|     39119|
|  Equador|   GeraÃ§Ã£o Z|     38898|
|  Equador| Millennials|     38635|
|   FranÃ§a|Baby Boomers|        66|
|   FranÃ§a|   GeraÃ§Ã£o X|        61|
|   FranÃ§a|   GeraÃ§Ã£o Z|        38|
|   FranÃ§a| Millennials|        43|
|   Guiana|Baby Boomers|      4428|
|   Guiana|   GeraÃ§Ã£o X|      3372|
|   Guiana|   GeraÃ§Ã£o Z|      3345|
|   Guiana| Millennials|      3316|
| Paraguai|Baby Boomers|    491033|
| Paraguai|   GeraÃ§Ã£o X|    370347|
| Paraguai|   GeraÃ§Ã£o Z|    369653|
| Paraguai| Millennials|    369120|
|     Peru|Baby Boomers|    363184|
|     Peru|   GeraÃ§Ã£o X|    272567|
|     Peru|   GeraÃ§Ã£o Z|    273023|
|     Peru| Millennials|    272925|
| Suriname|Baby Boomers|       764|
| Suriname|   GeraÃ§Ã£o X|       542|
| Suriname|   GeraÃ§Ã£o Z|       502|
| Suriname| Millennials|       562|
|  Uruguai|Baby Boomers|    569554|
|  Uruguai|   GeraÃ§Ã£o X|    425880|
|  Uruguai|   GeraÃ§Ã£o Z|    425740|
|  Uruguai| Millennials|    427292|
|Venezuela|Baby Boomers|    119695|
|Venezuela|   GeraÃ§Ã£o X|     89679|
|Venezuela|   GeraÃ§Ã£o Z|     89461|
|Venezuela| Millennials|     89719|
+---------+------------+----------+